# Build Folders
bin/
obj/

# Visual Studio / VSCode
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
.nuget/

# Build results
*_ReSharper*/
TestResults/
*.log

# Rider
.idea/

# Files to ignore
*.db
*.bak

# JSON local data (optional)
# Exchange_Rates.json
